* {
  margin: 0;
  padding: 0;
  border: 0;
}

* h1, * h2, * h3, * p {
  margin-bottom: 0.8em;
}

.flex-contanier-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1vh 1vw;
}

.flex-contanier-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(241, 191, 38, 0.8);
  color: #000000;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  color: #6c335c;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  border-radius: 5px;
  margin: 10px;
  font-family: 'Montsserrat', sans-serif;
  font-weight: bold;
  padding: 1vw;
}

.menu li:hover {
  margin: 10px;
  font-family: 'Montsserrat', sans-serif;
  font-weight: bold;
  background-color: #6c335c;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.menu li:hover a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-transition: 3ms;
  transition: 3ms;
}

main h2 {
  color: #6c335c;
}

.colunaEsq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 50%;
}

.colunaEsq p {
  margin: 0vh 3vw;
  text-align: justify;
  margin-right: 4vw;
}

.Equipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 300px;
  font-size: small;
}

.section-details {
  width: 70vw;
  padding: 3vw;
}

.centralize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Destaque {
  background: url(/imagem/background_destaque.png);
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  padding: 70px;
}

#destaque-texto {
  background-position: left;
  background-repeat: no-repeat;
  line-height: 1.2em;
  padding: 10px;
}

#destaque-texto h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
}

#destaque-texto h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

#destaque-texto p {
  font-family: 'Raleway', sans-serif;
}

#DetalheAprest {
  background: -webkit-gradient(linear, left bottom, left top, from(#e0659e), color-stop(22%, #e0659e), color-stop(49%, #f7a7cc), color-stop(51%, #f7a7cc), color-stop(81%, #e0659e), to(#e0659e));
  background: linear-gradient(to top, #e0659e 0%, #e0659e 22%, #f7a7cc 49%, #f7a7cc 51%, #e0659e 81%, #e0659e 100%);
  padding: 20px;
}

#Apresentacao {
  background: rgba(241, 191, 38, 0.8);
  text-align: center;
  font-size: medium;
  padding: 5vw 10vw 5vw 10vw;
  line-height: 1.2em;
  border-radius: 1%;
  margin-right: 350px;
  margin-left: 100px;
  margin-top: -70px;
  margin-bottom: 70px;
}

#Apresentacao h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

#Apresentacao p {
  font-family: 'Raleway', sans-serif;
}

#Equipe {
  padding: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#bd723d), color-stop(36%, #fe6a00), color-stop(48%, #fe6a00), color-stop(60%, #fe6a00), to(#bd723d));
  background: linear-gradient(to top, #bd723d 0%, #fe6a00 36%, #fe6a00 48%, #fe6a00 60%, #bd723d 100%);
}

#Equipe img {
  padding: 4px;
  max-width: 150px;
}

#Equipe p {
  padding: 0.5px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  width: 40%;
}

#Alongamentos {
  background: -webkit-gradient(linear, left bottom, left top, from(#ba924d), color-stop(2%, #ba924d), color-stop(31%, #e5a228), color-stop(48%, #e5a228), color-stop(68%, #e5a228), color-stop(96%, #ba924d), to(#ba924d));
  background: linear-gradient(to top, #ba924d 0%, #ba924d 2%, #e5a228 31%, #e5a228 48%, #e5a228 68%, #ba924d 96%, #ba924d 100%);
  text-align: center;
}

#Alongamentos img {
  max-width: 250px;
  padding: 15px;
}

#Alongamentos p {
  text-indent: 35px;
  text-align: justify;
}

#BoxBraids {
  background: -webkit-gradient(linear, left bottom, left top, from(#943d2e), color-stop(2%, #943d2e), color-stop(30%, #fe2d02), color-stop(50%, #fe2d02), color-stop(70%, #fe2d02), color-stop(98%, #943d2e), to(#943d2e));
  background: linear-gradient(to top, #943d2e 0%, #943d2e 2%, #fe2d02 30%, #fe2d02 50%, #fe2d02 70%, #943d2e 98%, #943d2e 100%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
}

#BoxBraids img {
  max-width: 250px;
  padding: 15px;
}

#BoxBraids p {
  text-indent: 35px;
  text-align: justify;
}

#GhanaBraids {
  background: -webkit-gradient(linear, left bottom, left top, from(#25615d), color-stop(2%, #25615d), color-stop(30%, #309992), color-stop(50%, #309992), color-stop(70%, #309992), color-stop(98%, #25615d), to(#25615d));
  background: linear-gradient(to top, #25615d 0%, #25615d 2%, #309992 30%, #309992 50%, #309992 70%, #25615d 98%, #25615d 100%);
  text-align: center;
}

#GhanaBraids img {
  max-width: 250px;
}

#GhanaBraids p {
  text-indent: 35px;
  text-align: justify;
}

footer {
  background-color: rgba(241, 191, 38, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5vh 1vw;
}

footer ul {
  text-decoration: none;
  list-style: none;
}

footer li {
  padding: 0vh 1vw;
}

footer p {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 576px) {
  #logo {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-contanier-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .colunaEsq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 50%;
  }
  .colunaEsq p {
    margin: 0vh 3vw;
    text-align: center;
    margin-right: 4vw;
  }
  footer {
    background-color: rgba(241, 191, 38, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer ul {
    text-decoration: none;
    list-style: none;
  }
  footer .flex-contanier-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  #logo {
    width: 70px;
    height: 70px;
  }
  .flex-contanier-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  #logo {
    width: 70px;
    height: 70px;
  }
  .flex-contanier-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  #logo {
    width: 70px;
    height: 70px;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*
@media (min-width:60em){
    li       { width:auto; display:inline; }
    li:after { display:block; }
}*/
/*# sourceMappingURL=style.css.map */