* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2, * h3, * p {
  margin-bottom: 0.8em;
}

.flex-contanier-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-contanier-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(241, 191, 38, 0.8);
  color: #000000;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu a {
  color: #000000;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  margin: 10px;
}

.section-details {
  width: 70vw;
  padding: 3vw;
}

#Destaque {
  background: url();
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.2em;
}

#Apresentacao {
  background: -webkit-gradient(linear, left top, right top, from(#e0659e), color-stop(22%, #e0659e), color-stop(49%, #f7a7cc), color-stop(51%, #f7a7cc), color-stop(81%, #e0659e), to(#e0659e));
  background: linear-gradient(to right, #e0659e 0%, #e0659e 22%, #f7a7cc 49%, #f7a7cc 51%, #e0659e 81%, #e0659e 100%);
  padding: 10px;
  text-align: center;
  font-style: Arial;
  padding: 5vw;
  line-height: 1.2em;
}

#Equipe {
  background: -webkit-gradient(linear, left top, right top, from(#bd723d), color-stop(36%, #fe6a00), color-stop(48%, #fe6a00), color-stop(60%, #fe6a00), to(#bd723d));
  background: linear-gradient(to right, #bd723d 0%, #fe6a00 36%, #fe6a00 48%, #fe6a00 60%, #bd723d 100%);
}

#Equipe img {
  max-width: 200px;
}

#Equipe p {
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  width: 30%;
}

#Alongamentos {
  background: #E5A228;
}

#Alongamentos img {
  max-width: 250px;
}

#Alongamentos p {
  text-indent: 35px;
  text-align: justify;
}

#BoxBraids {
  background: #FE2D02;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#BoxBraids img {
  max-width: 250px;
}

#BoxBraids p {
  text-indent: 35px;
  text-align: justify;
}

#GhanaBraids {
  background: #309992;
  text-align: justify;
}

#GhanaBraids img {
  max-width: 250px;
}

#GhanaBraids p {
  text-indent: 35px;
  text-align: justify;
}

#Nago {
  background: #6C335C;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#Nago img {
  max-width: 250px;
}

#Nago p {
  text-indent: 35px;
  text-align: justify;
}

#Dreads {
  background: #FE6A00;
}

#Dreads img {
  max-width: 250px;
}

#Dreads p {
  text-indent: 35px;
  text-align: justify;
}

@media (min-width: 60em) {
  li {
    width: auto;
    display: inline;
  }
  li:after {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */